body
{
font-size:100%;
text-align:center;
background:#ddd;
margin: 0;
}

h1
{
color:#0B0B3B;
text-align:left;
font-size:18px;
padding:1em 3 5 5;
font-size: 2em;
margin: 0.67em 0;
}

p
{
font-family:"Times New Roman";
font-size:16px;
padding:1em 0 0 0;
}

#form
{
width:475px;
height: inherit;
margin: 0;
padding: 0;
font-size:16px;
text-align: left;
border-style:solid;
border-width:2px;
}

#search
{
width: inherit;
height: inherit;
margin: 0;
padding: 0;
background-color: #EFF2FB;
font-size:16px;
}

input 
{

color: #0B0B3B;
border-bottom: 1px solid #666;
border-right: 1px solid #666;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
}
a.button 
{
    border: 1px solid #808080;
    background: #a0a0a0;
    display: inline-block;
    padding: 5px;
}
#btn 
{
  border: 1px solid #808080;
    background: #a0a0a0;
    display: inline-block;
    padding: 5px;
}
#foo:checked::before,
input[type="checkbox"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

#foo:checked,
input[type="checkbox"] + label::before {
    content: url('checkbox.png');
}

input[type="checkbox"]:checked + label::before {
    content: url('checkbox-checked.png');
}
#ts_tabmenu {
    font-size: 1em;
    padding: 20px 0px 0px 20px;
}
#ts_tabmenu ul
{

    line-height: 1em;
    margin: 0px;
    list-style-type: none;
    float: left;
    padding: 0px 0px 0px 5px;
}
#ts_tabmenu ul li
{
     float: left;
     display:inline-block;
     float: left;
}
#ts_tabmenu ul li a
{
    text-decoration: none;
    display: block;
    float: left;
    padding: 0px 0px 0px 10px;
    background: url(tabs.gif) no-repeat left top;
    margin-left: -5px;
    z-index: 0;
    position: relative;
    color: #666666;
}
#ts_tabmenu ul li a strong
{
    font-weight: normal; /* remove the bold effect */
    display: block;
    background: url(tabs.gif) no-repeat right top;
    padding: 6px 10px 7px 5px;
    cursor: pointer;
}
#ts_tabmenu ul li a:hover
{
    position: relative;
    z-index: 5;
    background: url(tabs.gif) no-repeat left bottom;
    color: #000000;
}
#ts_tabmenu ul li a:hover strong
{
    background-image: url(tabs.gif) no-repeat;
    position: relative;
    z-index: 5;
    background-position: right bottom;
}
#tabs ul li a
{
    text-decoration: none;
    position: relative;
    list-style-type: none;
} 